@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');


* {
    font-family: 'Fascinate', cursive;
    /*font-family: 'Work Sans', sans-serif;*?*/
}

/* #score,
#lives {
    position: absolute;
    width: 175px;
    height: 75px;
    left: 20px;
    font-size: 30px;
    color: white;
    padding: 20px 20px 20px 30px;
} */

/* #score {
    top: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

#lives {
    top: 60px;
} */

#item {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: white;
}

<<<<<<< HEAD
<<<<<<< HEAD
#coral img {
    height: 30px;
    width: 30px;
    padding-right: 4px;
}
=======
>>>>>>> parent of 8e5f8b0... submission
=======
>>>>>>> parent of 8e5f8b0... submission
#begin-container,
#end-container,
#about-container,
#difficulty-container,
#countdown,
#paused,
#instructions-container {
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#begin-container,
#end-container {
    display: flex;
}

#countdown,
#paused,
#about-container,
#difficulty-container,
#instructions-container {
    display: none;
}

#begin-content,
#end-content,
#paused-content,
#about-content,
#difficulty-content,
#instructions-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(43, 32, 196, 1);
    padding: 30px;
}

#begin-content h1,
#end-content h1,
#countdown h1,
#paused-content h1,
#about-content h1,
#difficulty-content h1,
#instructions-content h1 {
    color: white;
    padding: 0px;
    margin: 0px;
    text-shadow: 3px 3px rgb(210, 25, 216);
    text-align: center;
}

#begin-content h1,
#end-content h1,
#about-content h1,
#difficulty-content h1,
#paused-content h1,
#instructions-content h1 {
    font-size: 70px;
}

#countdown h1 {
    font-size: 80px;
}

#begin-content p,
#end-content p,
#paused-content p,
#about-content p,
#difficulty-content p,
#instructions-content p {
    font-family: 'Fascinate' !important;
    font-style: normal;
    color: white;
}

#end-content p {
    text-align: center;
}

#begin-button,
#end-button,
#instructions-button,
#back-button-about,
#easy-button-difficulty,
#medium-button-difficulty,
#hard-button-difficulty,
#about-button,
#difficulty-button,
#back-button {
    display: flex;
    height: 50px;
    width: 220px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    color: white;
    font-size: 30px;
}


#difficulty-button,
#medium-button-difficulty {
    background-color: #e3ee4d;
}

#difficulty-button:hover,
#medium-button-difficulty:hover {
    background-color: #c6d12f;
}

#instructions-button,
#back-button-about {
    background-color: #0fd6f0;
}

#instructions-button:hover,
#back-button-about:hover {
    background-color: #15bde7;
    color: lightgray;
}

#back-button,
#about-button,
#hard-button-difficulty {
    background-color: rgb(255, 0, 200);
}

#back-button:hover,
#about-button:hover,
#hard-button-difficulty:hover {
    background-color: rgb(139, 0, 127);
    color: lightgray;
}

#begin-button,
#end-button,
#easy-button-difficulty {
    background-color: #49f123;
}

#begin-button:hover,
#end-button:hover,
#easy-button-difficulty:hover {
    background-color: rgb(42, 211, 42);
    color: lightgray;
}
/* 

#heart {
    position: absolute;
    top: 82px;
    left: 130px;
    display: flex;
}

#heart img {
    height: 25px;
    width: 25px;
    padding-right: 4px;
} */
